<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成长日记-uvLog</title>

    <div th:replace="nav::css">

    </div>
    <!--<script rel="script" type="javascript" src="js/jquery-1.11.3.min.js"></script>-->
</head>
<body>
<nav class="navbar navbar-default" th:replace="nav::navs">
    <div class="container-fluid" style="display: flex; flex-direction: row;justify-content: space-around;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">成长日记</a>
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">大学<span class="sr-only">(current)</span></a></li>
                <li><a href="#">音乐<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="home.html">Home<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索人 ...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>

        <div class="column">
            <div class="media">
                <div class="media-left">
                    <a href="/home">
                        <img class="media-object img-rounded user-img" src="img/Jvinh.jpg" alt="...">
                    </a>
                </div>
                <div class="media-left">
                    <a class="glyphicon glyphicon-off user-icon" aria-hidden="true"></a>
                </div>
                <div class="media-left">
                    <span class="glyphicon glyphicon-cog user-icon" aria-hidden="true"></span>
                </div>

            </div>
        </div>


    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3" style="margin-top: 10px;" th:replace="nav:: tabar"></div>

        <div class="col-lg-8 col-md-8 col-sm-8" style="display: inline-flex; flex-flow: row;flex-wrap: wrap">
            <h4 class="col-lg-10" style="color:#ffffff">我的UVLog</h4>

            <button type="button" class="btn btn-default" style="margin-bottom: 10px;margin-left:50px ;"
                    data-toggle="modal" data-target="#myModal">
                上传UVLog
            </button>

            <!-- Modal 创建日记本 -->
          <!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><span id="action">创建</span>我的时光日记本</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/saveDiaryBook">
                                <input id="cover" type="text" hidden="hidden" class="file-loading" multiple
                                       name="cover">
                                <input type="text" name="id" id="id" hidden="hidden">

                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label user-label">标题</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="title" placeholder="标题名称"
                                               name="title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label user-label">日记本描述</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" id="description" placeholder="日记本描述"
                                                  name="description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="uploadPicture" class="col-sm-3 control-label user-label">封面</label>
                                    <div class="col-sm-7">
                                        <input id="uploadPicture" name="file" type="file" multiple
                                               class="file-input">
                                        &lt;!&ndash;<input type="file" class="form-control" id="cover" placeholder="封面" name="cover">&ndash;&gt;
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>-->
            <div class="divider col-lg-12" style="background: #0f0f0f; height: 1px"></div>

            <br>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">

        </div>

    </div>
</div>
<div th:replace="nav::js">

</div>
<script th:inline="javascript">



</script>
</body>

</html>